</main>
<footer class="footer">
  <span>instant-sharing-tool</span>
</footer>
<script src="/js/main.js"></script>
<% if (typeof extraScript !== 'undefined') { %><%- extraScript %><% } %>
</body>
</html>
